.content {
  filter: drop-shadow(0 0 0.1rem #6dfeff);
  transition: all;
  transition-duration: 0.3s;
}

.content:hover {
  box-shadow: 3px 3px #00fdff;
}

.title {
  @apply absolute top-0 left-0 px-3 py-1 font-bold text-white bg-blue-400 rounded-3xl m-4;
  font-size: 13px;
  line-height: 15px;
}
