.root {
  @apply p-6 relative;
}

.collapseContainer {
  @apply overflow-hidden transition-all;
  max-height: 999px;
}

.collapseContainer.collapsed {
  max-height: 100px;
}

.root p {
  @apply mb-4 text-base-textPrimary;
}

.root p:last-child {
  @apply mb-0;
}

.readMore {
  @apply block font-bold mx-auto relative text-blue-600 text-center underline;
}

.mask {
  @apply absolute left-0 w-full bg-gradient-to-t from-white to-transparent;
  bottom: 50px;
  height: 75px;
}
